ul {
  list-style-type: none;
  display: inline;
  float: right;
  padding: 12px;
}

li {
  display: inline;
  padding: 8px;
}

.nav-link {
  color: white;
  padding: 5px;
  border-radius: 20px;
}

.nav-link:hover {
  color: rgb(95, 95, 153);
  background-color: white;
}

#logo {
  width: 50px;
  padding: 8px;
}
#navbar {
  background-color: rgb(95, 95, 153);
}
